.chart{
    flex: 3 ;
    -webkit-box-shadow:2px 4px 10px 1px rgb(0,0,0,0.47);
    box-shadow:2px 4px 10px 1px rgba(107, 104, 104, 0.47);
    padding: 10px;
    color: gray;
    .title{
        margin-bottom: 20px;
        font-weight: bold;
    }
    .chartGrid{
        stroke: rgba(46, 39, 35, 0.377);
    }
}