.single{
   display: flex;
   width: 100%;
   .singleContainer{
       flex: 6;

       .top{
            padding: 20px;
            display: flex;
            gap: 20px;

           .left{
               flex: 1;
               -webkit-box-shadow:2px 4px 10px 1px rgb(0,0,0,0.47);
               box-shadow:2px 4px 10px 1px rgba(107, 104, 104, 0.47);
               padding: 20px;
               position: relative;
               border-radius: 0px 5px 0 0 ;
                .editButton{
                    position:absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 15px;
                    color: #7451f8;
                    font-weight: bold;
                    background-color: hsla(253, 92%, 65%, 0.356);
                    border-radius: 0px 5px 0 0 ;
                    cursor: pointer;
                }
               .item{
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    align-items: center;
                   .itemImg{
                       width: 180px;
                       height: 180px;
                       border-radius: 50%;
                        object-fit: cover;
                   }

                   .details{
                       

                        .itemTitle{
                            margin-bottom: 10px;
                            color: #555;
                            
                            
                        }
                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 14px;
                            .itemKey{
                                font-weight: bold;
                                color: gray;
                                margin-right: 10px;
                            }
                            .itemValue{
                                 font-weight: 300;
                            }
                        }
                   }
               }
           }
           .right{
                flex:2;
                width: auto;
               
           }
       }
       .bottom{
        padding: 20px;
        -webkit-box-shadow:2px 4px 10px 1px rgb(0,0,0,0.47);
        box-shadow:2px 4px 10px 1px rgba(107, 104, 104, 0.47);
         margin: 10px 20px;
    }
   }
   
   .title{
       font-size: 16px;
       color: gray;
       margin-bottom: 15px;
   }
}