.register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        font-size: 25px;
        font-weight: bold;
        color: gray;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
            width: 21em;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .form{
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form-group{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin: 2px;
                width: fit-content;
                label{
                    font-size: 20px;
                }
                input{
                    margin-top: 6px;
                    min-width: 18em;
                    height: 37px;
                    padding: 0px 10px;
                    font-size: 16px;
                    background-color: #f3f3f3;
                    border: 0;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    transition: all 250ms ease-in-out;
                    &:focus{
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px #09632b70;
                    }
                    
                }
            }
            
    
        }
        .errorMsg{
            color: rgb(197, 38, 38);
            font-style: italic;
            font-weight: 600;
            
        }
    }
    .footer{
        margin-top: 3em;
        width: 60%;
      

        .btn{
            width: 100%;
            height: 35px;
            color: white;
            font-weight: bold;
            background-color: rgba(13, 94, 13, 0.815);
            border: none;
            
            border-radius: 6px;
            &:hover{
                background-color: rgba(25, 117, 25, 0.753);;
            }
            cursor: pointer;
        }
    }
    
}