.Title{
    display: flex;
    justify-content: space-between;
    p{
        color: gray;
        font-weight: bold;
        flex-grow: 1;
    }
    button{
        border: none;
        text-align: center;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
        .icon{
            color: red;
            font-size: 30px;
        }
    }
}