.home{
    display: flex;
    .homecontainer{
        flex: 6;
        .widgets,.charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }
        .charts{
            padding: 5px 20px;
            // width: 100%;
            
        }
        .listContainer{
            padding: 20px;
            margin: 20px;
            -webkit-box-shadow: -2px 11px 10px -2px rgba(0,0,0,0.79); 
            box-shadow: -2px 8px 10px -3px rgba(0,0,0,0.79);
            .listTitle{
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;

            }
        } 
    }
}


@media screen and (max-width: 992px) {
    .charts {
      flex-direction: column;
    }
  }