.editProfile {
    display: flex;
    width: 100%;

    .container {

        .top {
            margin: 20px;
            display: flex;
            justify-content: center;

            .photo {
                display: flex;
                margin: 10px;
                flex-direction: column;
                align-items: center;
                align-content: center;
                position: relative;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    text-align: center;
                    border-radius: 50%;
                    overflow: inherit;
                }

                label {
                    width: 100%;
                    height: 30px;
                    background-color: rgba(73, 43, 43, 0.582);
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    color: rgb(243, 242, 242);
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(17, 2, 2, 0.61);
                        color: aliceblue;
                    }
                }
            }

        }

        hr {
            height: 1px;
            border: none;
            background-color: rgba(128, 128, 128, 0.562);
        }

        .bottom {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;

            .formInput {
                width: 40%;
                display: flex;
                flex-direction: column;
                position: relative;

                label {
                    display: flex;
                    align-items: center;
                    padding-bottom: 5px;
                    font-weight: 800;
                }

                input {
                    width: 100%;
                    height: 30px;
                    padding: 5px;
                    border: none;
                    border-bottom: solid #09126370 1.75px;
                    font-weight: bold;
                    color: rgb(12, 11, 11);
                    font-size: 15px;

                    &:focus {
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px #09126370;
                    }
                }

                .action {
                    padding: 0px;
                    margin: 0px;

                    button {
                        margin-bottom: 0px;
                        width: 150px;
                        padding: 13px;
                        border: none;
                        background-color: rgb(27, 83, 136);
                        color: white;
                        font-weight: bold;
                        margin: 10px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(27, 83, 136, 0.74);
                        }

                    }

                    .updatebtn {
                        flex-grow: 1;
                        background-color: rgba(29, 119, 29, 0.938);

                        &:hover {
                            background-color: rgba(29, 119, 29, 0.74);
                        }
                    }

                }

            }

        }
    }
}