.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .top {
            margin: 20px;
            display: flex;

            h1 {
                color: gray;
                font-size: 20px;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(107, 104, 104, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;

            h1 {
                color: lightgray;
                font-size: 20px;
            }

            .left {
                flex: 1;
                text-align: center;
                align-content: center;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    object-fit: cover;
                    
                }
            }

            .right {
                flex: 2;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            height: 30px;
                            padding: 5px;
                            border: none;
                            border-bottom: solid #09126370 1.75px;
                            font-weight: bold;
                            color: rgb(12, 11, 11);
                            font-size: 15px;

                            &:focus {
                                outline: none;
                                box-shadow: 0px 0px 12px 0.8px #09126370;
                            }
                        }
                    }

                    .address {
                        width: 92%;
                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: rgb(27, 83, 136);
                        color: white;
                        font-weight: bold;
                        margin: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(27, 83, 136, 0.877);
                        }

                    }
                    .addbtn{
                        background-color: rgb(27, 136, 72);
                        &:hover {
                            background-color: rgba(27, 136, 72, 0.877);
                        }
                    }

                    .contact {
                        display: flex;
                        width: 94%;
                        justify-content: space-around;
                        gap: 20px;
                        .action {
                            display: flex;
                            justify-content: space-around;
                            gap: 20px;
                            align-items: center;
                            .remove {
                                cursor: pointer;
                                color: red;
                                width: 40px;
                                height: 40px;
                                background-color: transparent;
                            }

                            .add {
                                width: 40px;
                                height: 40px;
                                cursor: pointer;
                                color: green;
                            }
                        }
                    }

                }

            }
        }

    }

}