.datatable{
    height: 600px;
    padding: 20px;
    
    font-weight: bold;
    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link{
            display: flex;
            width: 100px;
            justify-content: center;
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid rgba(0, 128, 0, 0.705);
            padding: 5px;
            border-radius: 5px;
            &:hover{
                background-color: rgba(0, 128, 0, 0.274);
                
            }
        }
    }
    .cellWithImg{
        display: flex;
        align-items: center;
        
        font-weight: bold;

        .cellImg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
            
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.315);
            cursor: pointer;
        }
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(255, 0, 0, 0.404);
            cursor: pointer;
        }
    }
}