.auth{
    display: flex;
    padding: 30px;
    justify-content: center;
    .container{
        display: inline-block;
        padding: 10px;
        box-shadow: 0px 0px 12px 0.8px #09632b70;
        .nav{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 3px solid #06461ff1;
            border-radius: 7px;

            button{
                border: none;
                width: 110px;
                font-weight: bold;
                color: white;
                border-radius: 7px;
            }
        }
        .loggedin{
                .loginbtn{
                    background-color: #06461ff1;
                }
                .registerbtn {
                    background-color: #06461fb4;
                    cursor: pointer;
                    &:hover{
                        background-color: #06461ff1 ;
                        
                    }
                }
        }
        .registerin{
            .registerbtn{
                background-color: #06461ff1;
            }
            .loginbtn{
                background-color: #06461fb4;
                cursor: pointer;
                &:hover{
                    background-color: #06461ff1 ;
                    
                }
            }
    }
        

    }

}

